/**
 * Variables
 */

:root{
  @media (prefers-color-scheme: light) {
    --color-base: #222;
    --color-primary: #5D93FF;
    --color-secondary: #F7A046;
    --color_background-base: #FFF;
  }
  @media (prefers-color-scheme: dark) {
    --color-base: #FFF;
    --color-primary: #5D93FF;
    --color-secondary: #F7A046;
    --color_background-base: #282828;
  }
  @media (prefers-color-scheme: no-preference) {
    --color-base: #FFF;
    --color-primary: #5D93FF;
    --color-secondary: #F7A046;
    --color_background-base: #282828;
  }
}

// Colors
$color-base: var(--color-base);
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);

$color_background-base: var(--color_background-base);
$color-white: #FFF;
$color-gray: #949494;
$color-gray-border: lighten($color-gray, 77%);
$color-gray-bg: lighten($color-gray, 79%);

// Typographic
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
$typographic-font-family: 'Raleway', sans-serif, "游ゴシック体", YuGothic;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 105px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;

$table-border-color: #222;
