.ais-Hits-item {
    width: 100% !important;
    list-style: none;
}

.ais-Panel-header {
    border-bottom: 1px solid #eee;
    text-transform: none !important;
}
.ais-Panel-body {
    max-height: 310px;
    overflow-y: scroll;
}
.ais-Panel-footer {
    border-top: 1px solid #eee;
    padding-bottom: 0;
}

.ais-PoweredBy {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}
.ais-PoweredBy-text {
    margin-right: 8px;
}
/*TODO cssまとめる*/
/*.ais-Highlight-highlighted {*/
/*    background-color: rgba(132, 159, 255, 0.4) !important;*/
/*    opacity: 50%;*/
/*    color: #005cc5;*/
/*}*/
