@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.toc {
  padding: 12px;
  margin-top: 64px;
  max-height: 100vh;
  overflow-y: auto;
  position: sticky;
  position: -webkit-sticky;
  top: 12px;
  will-change: transform;
  font-size: 14px;

  ul {
    list-style: none;
    margin: 0;
    padding: 10px;
  }
  p {
    margin: 0;
  }

}

@include breakpoint-xs {
  .toc {
    display: none;
    width: 0;
  }
}
