/*! purgecss start ignore */
@tailwind base;

.content h1 {
    @apply text-xl;
    @apply font-bold leading-loose;
    @apply bg-gray-300;
    @apply py-4 px-6 mt-10 mb-6;
    @apply border-l-8 border-solid border-red-800;
}
.content h2 {
    @apply text-lg;
    @apply font-bold;
    @apply px-3 my-6;
    @apply border-l-8 border-solid border-red-800;
}
.content h3 {
    @apply text-lg;
    @apply font-bold;
    @apply my-4;
}
.content h4 {
    @apply text-lg;
    @apply my-3;
}
.content blockquote {
    @apply relative;
    @apply p-3 my-6;
    @apply bg-gray-300;
    @apply border-l-4 border-solid border-gray-400;
}
.content p {
    @apply leading-relaxed;
}
.content a {
    @apply text-blue-700 underline;
}
.content a > svg {
    @apply hidden;
}
.content img {
    @apply px-3 my-6;
}
.content pre {
    @apply rounded-sm;
}
.content table {
    @apply block overflow-scroll;
    @apply my-6;
    @apply table-auto;
}
.content th {
    @apply border w-1/2 px-4 py-2;
}
.content td {
    @apply border px-4 py-2
}
.content ul {
    @apply p-3 mt-2 ml-2;
    @apply list-disc;
}

.toc ul {
    @apply list-inside list-none;
    @apply m-0;
}
.toc a {
    @apply text-blue-600 underline;
}
.toc p {
    @apply m-0;
}

/* algolia */
.ais-SearchBox-form {
    display: block;
    position: relative;
}
[class^=ais-] {
    font-size: 1rem;
    box-sizing: border-box;
}
.ais-SearchBox-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .3rem 1.7rem;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #c4c8d8;
    border-radius: 5px;
}
.ais-SearchBox-submit {
    left: .3rem;
}
.ais-SearchBox-reset {
    right: .3rem;
}
.ais-SearchBox-resetIcon path, .ais-SearchBox-submitIcon path {
    fill: #495588;
}
.ais-SearchBox-loadingIndicator, .ais-SearchBox-reset, .ais-SearchBox-submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    top: 50%;
    right: .3rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.ais-SearchBox-loadingIcon, .ais-SearchBox-resetIcon, .ais-SearchBox-submitIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.ais-SearchBox-submitIcon {
    width: 14px;
    height: 14px;
}
.ais-Hits-item {
    width: 100% !important;
    list-style: none;
}
.ais-Highlight-highlighted {
    @apply bg-blue-200 !important;
}

.ais-Panel-header {
    border-bottom: 1px solid #eee;
    text-transform: none !important;
}
.ais-Panel-body {
    max-height: 310px;
    overflow-y: scroll;
}
.ais-Panel-footer {
    border-top: 1px solid #eee;
    padding-bottom: 0;
}

.ais-PoweredBy {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}
.ais-PoweredBy-text {
    margin-right: 8px;
}


@tailwind components;
/*! purgecss end ignore */


@tailwind utilities;
