@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.layout {
  height: 100%;
  width: 100%;
  display: grid;
  min-height: 100vh;
  grid-template:
    "...... ...... ...... ...... ......" auto
    "...... side   divider page   ......" 1fr
    "...... footer footer footer ......" 25px
    / auto  300px  10px   1fr    auto;
}

@include breakpoint-xs {
  .layout {
    grid-template:
      "page  " 2fr
      "side  " 1fr
      "footer" 25px;
  }
}
