.Content--Image,
.Content img {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 0.3rem;
}

.BackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
